I was supposed to do the normal PHP .env method but i decided to use the .gitignore method of preventing commit production credentials to the public. so you can decide whatever method that is convenient for you.